/*
 * minimal5.css_t
 * ~~~~~~~~~~~~~
 *
 * Stylesheet for minimal5 theme.
 *
 * :copyright: Copyright 2011-2013 by Vlad Riscutia and contributors (see
 * CONTRIBUTORS file)
 * :license: FreeBSD, see LICENSE file
 */

@import url("bootstrap/css/bootstrap.min.css");

/* General style */
body {
    background-color:white;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', "メイリオ", Meiryo, 'ＭＳ Ｐゴシック', Helvetica, Arial, Verdana, sans-serif;
    margin: auto;
    max-width: 1000px;
}

.widget {
    margin-bottom: 20px;
}

.label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    margin-right: 5px;
}

/*
a:link, a:visited, a:active {
    color: #808080;
    text-decoration: none;
}

a:hover {
    color: #cccccc;
}


h1 a:link, h1 a:visited, h1 a:active, h1 a:hover {
    color: #333333;
}
*/

a.readmore {
  font-weight:bold;
}

/* Header */
header {
    margin-bottom: 48px;
    text-align: center;
}

header h1 {
    font-size: 300%;
    margin: 12px;
}
header a {
    color: #333333;
}

header h2 {
    font-size: 110%;
    font-style: italic;
    margin: 0px;
    color: #333333;
}

/* Page navigation */
nav {
    background-color: #333333;
    font-size: 125%;
    font-weight: bold;
    height: 2em;
    line-height: 2em;
    width: 100%;
    top: 0;
}

nav a:link, nav a:visited, nav a:active, nav a:hover {
    color: white;
}

nav ul, nav ol {
    line-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0 24px;
}

nav li {
    display: inline;
    padding: 0 24px;
    text-align: center;
    width: 100%;
}

li.quicklink {
    display: none;
    line-height: 2em !important; /* add for bootstap */
}

/* Content */
/*
div.admonition {
    background: #f8f8f8;
}
*/
/* add for bootstrap alert */
div.admonition {
    margin: 1em 0 0 0;
    padding: .2em .5em .2em .9em;
}
div.admonition.note {
    background-color: #fcf8e3;
}
div.admonition.warning {
    background-color: #f2dede;
}
div.admonition p {
    margin: 1em;
    padding: 0;
}
p.admonition-title {
    display: none;
}

/* add for bootstrap code */
.literal {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    padding: 2px 4px;
    font-size: 90%;
    color: #C7254E;
    white-space: nowrap;
    background-color: #F9F2F4;
    border-radius: 4px;
}
.highlight {
    background: none !important;
}
.highlight-none pre {
    background: #002B36;
    color: #93A1A1;
}
pre {
    border: none;
}

/* add for section head */
div.section_head {
    margin-bottom: 1em;
}

div.timestamp_layout {
    float: left;
    margin-right: 2em;
}

div.social_buttons li {
    list-style-type: none;
    display: block;
    float: left;
}

/* CSS for video wrap */
.container {
    /* bootstrap reset */
    width: auto;
    margin-right: 0;
    margin-left: 0;
}

.video-container {
    position: relative;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
}

.video-wrapper {
    /* max size setting */
    width: 500px;
    max-width: 100%;
}

/* CSS for niconico thumbnail */
.video-wrapper-thumb {
    /* max size setting */
    width: 312px;
    max-width: 100%;
}

.video-wrapper-thumb iframe {
    /* thumb re design */
    border: none !important;
}

/* image */
.img-paragraph {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

/* image for app ad */
.img-app-icon {
    margin-right: 1.2em;
}

.caption {
    *zoom: 1;
    margin-top: 1.2em;
}

.caption:before,
.caption:after {
    display: table;
    line-height: 0;
    content: "";
}

.caption:after {
    clear: both;
}

blockquote p {
    font-size: 14px;
}

/* Body */
h1 {
    margin-top: 0;
    font-size: 2em;
}
.section h1 {
    margin-bottom: 20px;
}
h2 {
    font-size: 1.5em;
}
.section h2 {
    margin-top: 20px;
}
h3 {
    font-size: 1.17em;
}
.section h3 {
    margin-top: 20px;
}
h4 {
    font-size: 1em;
}

ul.related li {
    list-style-type: none;
    text-align: center;
}

article {
    padding: 0 40px;
}

article li {
    line-height: 1.5em;
}

/*
p {
    text-align:justify;
    text-justify:inter-ideograph;
    -ms-text-justify:inter-ideograph;
}
*/

/* Sidebar */
aside {
    font-size: 90%;
}

aside.sidebar {
    padding: 0 40px;
}

/* Meta */
div.postmeta {
    margin-top: 40px;
    font-style: italic;
}

div.timestamp {
    font-style: italic;
    margin-top: 0;
    padding-bottom: 0;
}


/* Archive */
span.title_tag, span.title_category {
    font-style: italic;
}

div.year h1 {
    float: left;
    margin-right: -100%;
    margin-top: 20px;
}

div.year ul {
    display: inline;
    list-style-type: none;
    margin: 0;
}

div.year div.postmeta {
    margin-left: 50%;
    margin-top: 12px;
}

div.year div.timestamp {
    float: left;
    line-height: 1.5em;
    margin-left: 27%;
    margin-top: 0;
    font-style: normal;
    font-weight: bold;
    color: #333333;
}

div.year h2 {
    margin-bottom: 0;
    margin-left: 50%;
    margin-top: 0;
}

/* Separators */
div.post_separator {
    width: 100%;
    margin: 20px 0;
    border-top: 1px dashed #333333;
}

div.year_separator {
    width: 100%;
    border-top: 1px dashed #333333;
}

/* Archive */
div.archive_link {
    border-top: 1px dashed #333333;
    border-bottom: 1px dashed #333333;
    font-size: 120%;
    margin-top: 24px;
    padding: 24px 0;
    text-align: center;
}

/* Footer */
footer {
    margin-top: 40px;
    text-align: center;
}


/* Retina displays ========================================================= */
/*
@media screen and (-webkit-min-device-pixel-ratio: 2)
{
    /* Body ----------------------------------------------------------------
    body {
        font-size: 200%;
    }
}
*/

@media only screen and (max-width: 480px) {
    /* Style adjustments for viewports 480px and less go here (default: 480px)*/
    article {
        padding: 0 25px;
    }
    aside.sidebar {
        padding: 0 25px;
    }
    nav ul, nav ol {
        padding: 0 18px;
    }
    nav li {
        padding: 0 18px;
    }
}

@media only screen and (min-width: 480px) {
    /* Style adjustments for viewports 480px and over go here (default: 480px)*/
    nav li { display: inline; list-style-type: none; text-align: left; width: auto; }

    ul.related { margin: 0 0 8px 0; padding: 0; }
    ul.related li { display: inline; }
    ul.related li.right { float: right; }
}

@media only screen and (min-width: 480px) {
    /* Style adjustments for viewports 768px and over go here (default: 768px)*/
    li.quicklink { display: inline; float: right; }
}

/* Minimal theme has narrower sidebar (default: 999px)*/
@media only screen and (min-width: 999px) {
    article { float: left; margin-right: 303px; width: 613px; }

    aside { display: block; float: left; margin-left: -300px; width: 220px; }
}
